<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new list
    </h1>

    <form #listForm="ngForm" (ngSubmit)="createList()">
      <input [(ngModel)]="title" minlength="1" name="title" required class="input has-background-light is-medium"
        type="text" placeholder="Enter list name..." autocomplete="off">
    </form>
    <br>
    <div class="buttons is-right">
      <button class="button is-text has-text-danger" type="button" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white" type="submit" [disabled]="!listForm.valid">Create</button>
    </div>


  </div>
</div>