// This is where we put global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");

$orange: #f7c948;
$blue: #62b0e8;
$light-blue: #e8f5ff;
$dark-orange: #f0b429;
$text: #9fb3c8;
$border-color: #d9e2ec;

$light: #f0f4f8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$success: $orange;

$link: $orange;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom global styles (will be applied to whole app)

body {
  background: $light;
}

html,
body {
  height: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  background: white;
  padding: 35px;
  border: 2px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 0 1.5rem rgba(black, 0.05);
}

.title {
  font-family: "Lato";
  font-size: 18px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $text !important;
}

.white-box {
  padding: 35px;
  background: white;
  border-radius: 5px;

  width: 350px;
  max-width: 350px;
  border: 2px solid $border-color;
  box-shadow: 0 0 1.5rem rgba(black, 0.05);

  input {
    background-color: $light;
  }
}
